:root {
    --main-accent-color: #FADF63;
    --main-icon-color: #413620;
    --main-highlight-color: red;
    --main-background-color: #e4e4e4;
    --main-text-color: #000000;
    --main-text-area-color: #FFFFFF;
}