@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root::-webkit-scrollbar {
  display: none;
}

:root {
  /*background-color: rgba(238, 223, 116, 0.5);*/
  font-size: 16px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */


  background-color: #232323;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: justify;
}

.head {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://source.unsplash.com/X8o-P23flgI/1920x1080);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head > img {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 100%;
  z-index: 2;
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.game-banner {
  height: 100vh;
  padding: 0!important;
  z-index: 5;
}

.banner {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cod1 {
  background-image: url("img/cod1.jpg");
}

#cod2 {
  background-image: url("img/cod2.jpg");
}

#cod3 {
  background-image: url("img/cod3.jpg");
}

#cod4 {
  background-image: url("img/cod4.jpg");
}

#cod5 {
  background-image: url("img/cod5.jpg");
}

#cod6 {
  background-image: url("img/cod6.jpg");
}

#cod7 {
  background-image: url("img/cod7.jpg");
}

#cod8 {
  background-image: url("img/cod8.jpg");
}

#cod9 {
  background-image: url("img/cod9.jpg");
}

#cod10 {
  background-image: url("img/cod10.jpg");
}

#cod11 {
  background-image: url("img/cod11.jpg");
}

#cod12 {
  background-image: url("img/cod12.jpg");
}

#cod13 {
  background-image: url("img/cod13.jpg");
}

#cod14 {
  background-image: url("img/cod14.jpg");
}

#cod15 {
  background-image: url("img/cod15.jpg");
}

#cod16 {
  background-image: url("img/cod16.png");
}

#cod17 {
  background-image: url("img/cod17.jpg");
}

#cod18 {
  background-image: url("img/cod18.jpg");
}

.title {
  text-align: center;
  font-family: 'Cinzel', serif;
  color: #FFFFFF;
}

.banner-title {
  text-align: center;
  font-family: 'Cinzel', serif;
  color: #FFFFFF;
}

p {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  color: #FFFFFF;
  text-indent: 40px;
}

.text-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px;
}

.text-sec-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
}

.text-sec-banner p {
  font-size: 1.5rem;
  padding: 0 10px 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  
  padding: 0 10px 0 10px;
}

@media only screen and (max-width: 600px) {
  .text-sec {
    padding: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .text-sec-banner p {
    font-size: 1.15rem;
  }

  .banner-title * {
    font-size: 1.25rem;
    text-align: center;
  }
}