@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    --dark-blue: #2B3A67;
    --scarlet-red: #AF1B3F;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body  {
  font-size: 1rem;
  font-weight: 400;
  background-color: #2B3A67;
  font-family: 'Playfair Display', serif;
}

img {
  border: 2px solid var(--dark-blue);
}

header {
  height: 10vh;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0,0,0,0.23);
  color: var(--dark-blue);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 49;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [name]1.5fr [nav]2fr;
  align-items: center;
  justify-content: center;
}

header p {
  cursor: default;
  font-size: 1.30rem;
  font-weight: 700;
}

header nav {
  font-size: 1.15rem;
  font-weight: 700;
}

header nav a {
  text-decoration: none;
  padding: 0 20px 0 20px;
  border-right: 1px solid;
  z-index: 50;
  transition: color 0.3s ease-in-out;
}

header nav a:last-child {
  border-right: none;
}

header nav a:hover {
  color: var(--scarlet-red);
}

.welcome-div {
  height: 90vh;
}

.welcome-div::before {
  content: '';
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
  background: url(https://source.unsplash.com/QJDzYT_K8Xg/4592x3448);
  background-color: var(--scarlet-red);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  z-index: 5;
  background-color:  white;
  box-shadow: 0 -6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  width: 100%;
  /* background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) darkblue; */
}

.main-content > hr {
  margin: 10px 0 10px 0;
  border-top: 2px solid var(--dark-blue);
  opacity: 50%;
}

.content-section {
  padding: 10px;
  height: auto;
  width: 100%;
}

.management {
  color: var(--dark-blue);
  font-weight: 700;

  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
.management-section {
  margin-bottom: 20px;
  font-size: 1.80rem;
  text-align: center;
}

.management-section > h1.title {
  transition: color 0.4s ease-in-out;
  text-decoration: underline;
}

.management-section > h1:hover {
  color: var(--scarlet-red);
}

.card-section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  margin: 20px;
  padding: 10px 20px 10px 20px;
  z-index: 15;
  color: white;
  /* border: 2px solid var(--scarlet-red); */
  background-color: rgba(43, 58, 103, 0.8);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.30);
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: translate(0px, 20px);
  background-color: rgba(43, 58, 103, 1);
}

.card > img {
  border-radius: 50%;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.30);
  margin-bottom: 5px;
}

.card > h1 {
  font-size: 1.50rem;
}

#contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact {
  color: var(--dark-blue);
  font-weight: 700;
}

.contact h1 {
  text-align: left;
  font-size: 1.75rem;
  margin-bottom: 5px;
}

.contact p{
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.contact p > span {
  transition: color 0.2s ease-in-out;
}

.contact p > span:hover {
  color: var(--scarlet-red);
}

footer {
  height: 10vh;
  background-color: white;
  box-shadow: 0 -6px 6px rgba(0,0,0,0.23);
  color: var(--dark-blue);
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: start;
}

footer p {
  cursor: default;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
}
