@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');

:root::-webkit-scrollbar {
    display: none;
}

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  text-align: justify;
}

/*Intro image*/
.billboard {
  height: 100vh;
  width: 100vw;

  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.billboard-image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  

  z-index: 0;
}

.parallax {
  z-index: 0;
}

.billboard p {
  color: whitesmoke;
  font-size: 5rem;
  font-weight: bold;

  text-align: center;
  font-family: 'Noto Serif JP', serif;
  text-shadow: 3px 3px #000000
}

.parallax-container {
  height: 100vh;
}    

.floater {
  padding: 20px;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
}

.floater::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 40vh;
  right: 50;
  top: 50vh;
  transform: rotate(-45deg) skew(-45deg, 0) translateY(-25%);
  background: #999;
  background: -webkit-linear-gradient(to right, #b92b27, #1565c0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.7;
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  .billboard p {
      font-size: 3rem;
  }
}

/*Content*/
.container {
  margin-top: 40px;
}

h5, h4{
  text-decoration: underline;
  font-family: 'Merriweather', serif;
}

h6 {
  text-align: left;
}

p {
  text-indent: 40px;
}

.responsive-img {
  margin: 10px 0 10px 0;
  width: 100%;
  height: auto;
}


.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}