@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root::-webkit-scrollbar {
    display: none;
}

:root {
    font-size: 16px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*, *::before, *::after {
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  text-align: justify;
}

nav > div > a {
    font-family: 'Merriweather', serif;
}

.nav-wrapper {
    z-index: 2;
}

.carousel-div {
    width: 100vw;
    height: 70vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.carousel-div > img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;

    z-index: 0;    
}

.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Materialize-CSS Tab Styling*/
.tabs .tab a{
    color:#64b5f6;
    text-align: center;
} /*Text color*/

.tabs .tab a:hover {
    background-color:#bbdefb;
    color: #1e88e5;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#bbdefb!important;
    color:#1e88e5;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#1e88e5;
} /*Color of underline*/

.tabs {
    margin-bottom: 90px;
}

.row {
    width: 100%!important;

}

h3, h4{
    text-decoration: underline;
    font-family: 'Merriweather', serif;
}

p {
    text-indent: 40px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    width: 200px;
    height: max(200px, auto);
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.card-content p {
    text-align: left!important;
    text-indent: 0;
}