.theme-button {
    position: absolute;
    top: 20px;
    left: 20px;

    border: none;
    background: transparent;
    color: var(--text-color);
}

.theme-button.right {
    left: auto;
    right: 20px;
}